$greenblue:rgb(18, 106, 106);
$lightgreenblue:rgb(18, 106, 106);
$greenblueclair:rgb(24, 206, 173);
$aquamarine: aquamarine;
$black:black;
$ligthviolet: rgb(201, 71, 213);
$violet:rgb(154, 45, 204);
$lile:rgb(189, 125, 219);
$white:rgb(229, 243, 241);