:root{
  background-image:url(/assets/images/fondoevaluacionfinal.jpg);
}
*{
  margin:0;
  text-decoration: none;
  padding:0;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color:$lightgreenblue;
  background-color: $aquamarine;
  border: 4px solid $greenblue;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
&__button{
    border: 4px solid $greenblue;
    border-radius: 10px;
    background-color: $aquamarine;
    padding:10px;
    color:$black;
    
    
  }
  &__reset{
    border: 4px solid $greenblue;
    border-radius: 10px;
    background-color:$aquamarine;
    padding:10px; 
    margin:20px;
  }
  &__input{
    border: 4px solid $greenblue;
    background-color: $aquamarine;
    color:$black;
    padding:10px;
    width: 260px;
  }
}
.section{
display:flex;
width:100vw;
justify-content: space-around;
}
.article{
  &__title{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color:$lightgreenblue;
    background-color: $aquamarine;
    border: 4px solid $greenblue;
  }
}
.list{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:flex-end;
}
.drink{
  width: 200px;
  height: 300px;
  border:solid 4px $greenblueclair;
  margin:5px;
  background-color: $aquamarine;
  display:flex;
  justify-content: center;
  &__title{
    text-align: center;
  }
  &__container{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;


  }
  &__image{
    height:auto;
    display:flex;
    contain: content;
    width:200px;
    padding:5px;
    
  }
  &__action {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 10;
    padding:5px;
    border-radius: 10px;

  }
}
.Drink__favourite{
  border:solid 4px $ligthviolet;
  background-color:$violet;
  color:$white;
}
.error{
  margin-top:40px;
  padding: 10px;
  border:4px solid $white;
  font-size: 20px;
  color:$black;
  background-color:$lile;
}
.list{
  list-style-type: none;
}